@font-face {  font-family: 'Hurricane';  font-style: normal;  font-weight: 400;  font-display: swap;  src: url(//localhost/wordpress/wp-content/uploads/oceanwp-webfonts/pe0sMIuULZxTolZ5YldCBfe6.ttf) format('truetype');}